<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatter.io</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}" />

    <meta name="description" content="This is a website created by Prakhar using HTML, CSS and JavaScript.">
     <!-- Socket.io client-side script from local server -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    
    <nav id="welcome-panel" class="welcome-panel">
        <img src="{{ url_for('static', filename='images/logo.png') }}" id="chat-logo" alt="Chat Logo">
        <h1 id="welcome-note">Chatter IO</h1>
        <button id="logout" >Logout</button>
        <a href="{{ url_for('logout') }}" id="logoutLink" style="display: none;">Logout Link</a>
    </nav>
    <div class="messages">
        <!-- <input placeholder="Message" id="messageInput" /> -->
        <div class="message-left">...</div>
        <div class="message-right">...</div>
    </div>
    <div class="send">
        <form action="#" id="send-container">
            <input type="text" name="messageInp" id="messageInput" placeholder="Type your message here">
            <button type="submit" id="submit-btn">Send</button>
        </form>
    </div>

    <script>
        const socket = io();

        let navBar = document.querySelector(".welcome-panel");
        let messageContainer = document.querySelector(".messages");
        let leftMessageContainer = document.querySelector(".message-left");
        let rightMessageContainer = document.querySelector(".message-right");
        // Defining a function to append messages
        let audio_ping= new Audio("MyChatApp/static/audio/ping.mp3")
        function appendMessage(message, position,container) { 
            let messageElementNew = document.createElement("div"); 
            messageElementNew.innerText = message; // Use the message parameter 
            // messageElementNew.classList.add("message"); // Uncomment if needed 
            messageElementNew.classList.add(position); // Use the position parameter
            
            container.appendChild(messageElementNew);
            if (position.includes("left")){
                audio_ping.play();
            } 

        }
        socket.on("connect", () => {
            setInterval(() => {
            console.log("Sending ping...");
            socket.emit("ping");
        }, 5000); // Send a ping every 5 seconds
            let p = document.createElement("p")
            p.classList.add("user-notifications")
            p.innerText = "You are connected"
            
             messageContainer.appendChild(p)
        });
        let messageInput = document.getElementById("messageInput");
    
        const form = document.getElementById('send-container')
        //Event listener to logout
        document.addEventListener('DOMContentLoaded', function () {
    const logoutButton = document.getElementById('logout');
    const logoutLink = document.getElementById('logoutLink');

    if (logoutButton) {
        logoutButton.addEventListener('click', function () {
            // Trigger the hidden logout link to log out the session
            socket.emit("logout-disconnect")
            logoutLink.click();
        });
    }
});

        form.addEventListener('submit', (e) => { 
            e.preventDefault(); // Prevent the default form submission
             let message = messageInput.value; 
             if (message) { 
                appendMessage(`You:${message}`,'message-right',messageContainer)
                socket.emit("send", `${message}`); 
             messageInput.value = ""; // Clear the input field
              } });
     
        const name = prompt("Enter Your Name To Join")
        const currentUser = String(name)
        socket.emit('new-user-joined', name)
        // Handle pong response
        socket.on("pong", () => {
        console.log("Pong received from server.");
        });

        // It will listen to the event that was sent by the app.py(server) using the send/emit function and 
        //catch the message that was sent by the send function and then create a paragraph element
        // It will then alter/add the innertext to the paragraph element and append it to the parent 
        //class that we named as messages under the div tag
        socket.on("user-joined",(message) =>{
    
            appendMessage(message.message,'message-left',messageContainer)
        });
        //Handling Disconnection events
        socket.on('user-disconnected',(message) =>{
           appendMessage(message.message,'message-left',messageContainer)
        })
        socket.on('recieve',(data) =>{
            let { message } = '';

        // Determine sender type based on message format or content
        message = data.message
        sender = data.name
        time = data.time
        console.log(sender)
        let senderType = 'message-left'
        if (sender !== currentUser) {
            message = `${sender} : ${message}`
            appendMessage(message,senderType,messageContainer)
        }
        // const senderType = message.startsWith('You:') ? 'message-right' : 'message-left';
            
        })
        


    </script>
</body>

</html>